<router-outlet>
<div>
  <h2>Currency price by 1 €</h2>
  <div>
    <input type="number" [(ngModel)]="amount" placeholder="Amount" (ngModelChange)="calculate()">

    <select [(ngModel)]="selectedCurrencyFrom" (ngModelChange)="calculate()">
      <option *ngFor="let currency of currencies" [value]="currency.currency">{{ currency.currency }}</option>
    </select>

    <select [(ngModel)]="selectedCurrencyTo" (ngModelChange)="calculate()">
      <option *ngFor="let currency of currencies" [value]="currency.currency">{{ currency.currency }}</option>
    </select>
  </div>
  <div *ngIf="result !== null">
    <p>Result: {{ result }} {{selectedCurrencyTo}}</p>
  </div>
  <table mat-table [dataSource]="currencies">

    <ng-container matColumnDef="flag">
      <th mat-header-cell *matHeaderCellDef> Flag </th>
      <td mat-cell *matCellDef="let currency">
        <img src="{{ currency.flagUrl }}">
      </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency</th>
      <td mat-cell *matCellDef="let currency" (click)="onRowClicked(currency)"> {{ currency.currency }} </td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let currency"> {{ currency.rate }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['flag', 'currency', 'rate']"></tr>
    <tr mat-row *matRowDef="let currency; columns: ['flag', 'currency', 'rate']" style="height: 15px"></tr>
  </table>
</div>
</router-outlet>
